
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <h2>About us </h2>
    <p>About us page tells you details about the company like their company name, address and contact details</p>
</body>
</html>
