
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllPorducts</title>
</head>
<body>
    <h2>Get All Products</h2>
    <p>This page will display a list of products manufactured in the company</p>
</body>
</html>
