################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bini.xyz/.vs/bini.xyz
/bini.xyz/bini.xyz/bin/Debug/netcoreapp3.1
/bini.xyz/bini.xyz/obj
